.pagination{
    text-align: center;
}

.pagination a{
    padding: 8px 15px;
    color: rgb(77, 197, 197);
    text-decoration: none;
    display: inline-block;
}

.pagination a.active{
    background-color: rgba(41, 41, 198, 0.699);
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: rgba(203, 202, 200, 0.471);
    border-radius: 5px;
}